.elementor-19 .elementor-element.elementor-element-69312d4>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-19 .elementor-element.elementor-element-69312d4:not(.elementor-motion-effects-element-type-background),
.elementor-19 .elementor-element.elementor-element-69312d4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-accent);
}

.elementor-19 .elementor-element.elementor-element-69312d4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-19 .elementor-element.elementor-element-69312d4>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-19 .elementor-element.elementor-element-2057a2f .elementor-icon-list-icon i {
    color: var( --e-global-color-60a9ff5);
    transition: color 0.3s;
}

.elementor-19 .elementor-element.elementor-element-2057a2f .elementor-icon-list-icon svg {
    fill: var( --e-global-color-60a9ff5);
    transition: fill 0.3s;
}

.elementor-19 .elementor-element.elementor-element-2057a2f {
    --e-icon-list-icon-size: 14px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-align: center;
    --icon-vertical-offset: 0px;
}

.elementor-19 .elementor-element.elementor-element-2057a2f .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-19 .elementor-element.elementor-element-2057a2f .elementor-icon-list-item>a {
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-19 .elementor-element.elementor-element-2057a2f .elementor-icon-list-text {
    color: var( --e-global-color-60a9ff5);
    transition: color 0.3s;
}

.elementor-19 .elementor-element.elementor-element-c418a86.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-widget-button .elementor-button {
    background-color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-19 .elementor-element.elementor-element-ab0c878 .elementor-button {
    background-color: var( --e-global-color-60a9ff5);
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    fill: var( --e-global-color-primary);
    color: var( --e-global-color-primary);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-60a9ff5);
    padding: 7px 7px 7px 7px;
}

.elementor-19 .elementor-element.elementor-element-ab0c878 .elementor-button:hover,
.elementor-19 .elementor-element.elementor-element-ab0c878 .elementor-button:focus {
    background-color: #02010100;
    color: var( --e-global-color-60a9ff5);
}

.elementor-19 .elementor-element.elementor-element-ab0c878 {
    width: auto;
    max-width: auto;
}

.elementor-19 .elementor-element.elementor-element-ab0c878 .elementor-button:hover svg,
.elementor-19 .elementor-element.elementor-element-ab0c878 .elementor-button:focus svg {
    fill: var( --e-global-color-60a9ff5);
}

.elementor-19 .elementor-element.elementor-element-1c16bcf .elementor-button {
    background-color: var( --e-global-color-60a9ff5);
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    fill: var( --e-global-color-primary);
    color: var( --e-global-color-primary);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-60a9ff5);
    padding: 7px 7px 7px 7px;
}

.elementor-19 .elementor-element.elementor-element-1c16bcf .elementor-button:hover,
.elementor-19 .elementor-element.elementor-element-1c16bcf .elementor-button:focus {
    background-color: #02010100;
    color: var( --e-global-color-60a9ff5);
}

.elementor-19 .elementor-element.elementor-element-1c16bcf {
    width: auto;
    max-width: auto;
}

.elementor-19 .elementor-element.elementor-element-1c16bcf>.elementor-widget-container {
    padding: 0px 0px 0px 10px;
}

.elementor-19 .elementor-element.elementor-element-1c16bcf .elementor-button:hover svg,
.elementor-19 .elementor-element.elementor-element-1c16bcf .elementor-button:focus svg {
    fill: var( --e-global-color-60a9ff5);
}

.elementor-19 .elementor-element.elementor-element-4f4a6f0>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-19 .elementor-element.elementor-element-4f4a6f0:not(.elementor-motion-effects-element-type-background),
.elementor-19 .elementor-element.elementor-element-4f4a6f0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-60a9ff5);
}

.elementor-19 .elementor-element.elementor-element-4f4a6f0.she-header {
    backdrop-filter: blur(20px) saturate(1.8) !important;
    -webkit-backdrop-filter: blur(20px) saturate(1.8) !important;
}

.elementor-19 .elementor-element.elementor-element-4f4a6f0 {
    box-shadow: 0px 2px 10px 0px #C5C5C5;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-19 .elementor-element.elementor-element-4f4a6f0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-19 .elementor-element.elementor-element-c10b4d6 {
    text-align: left;
}

.elementor-19 .elementor-element.elementor-element-c10b4d6 img {
    max-width: 318px;
}

.elementor-widget-navigation-menu .menu-item a.hfe-menu-item.elementor-button {
    background-color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-navigation-menu .menu-item a.hfe-menu-item.elementor-button:hover {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-navigation-menu a.hfe-menu-item,
.elementor-widget-navigation-menu a.hfe-sub-menu-item {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-navigation-menu .menu-item a.hfe-menu-item,
.elementor-widget-navigation-menu .sub-menu a.hfe-sub-menu-item {
    color: var( --e-global-color-text);
}

.elementor-widget-navigation-menu .menu-item a.hfe-menu-item:hover,
.elementor-widget-navigation-menu .sub-menu a.hfe-sub-menu-item:hover,
.elementor-widget-navigation-menu .menu-item.current-menu-item a.hfe-menu-item,
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item.highlighted,
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item:focus {
    color: var( --e-global-color-accent);
}

.elementor-widget-navigation-menu .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:before,
.elementor-widget-navigation-menu .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:after {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-navigation-menu .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent .sub-menu .hfe-has-submenu-container a:after {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-navigation-menu .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:before,
.elementor-widget-navigation-menu .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:after {
    border-color: var( --e-global-color-accent);
}

.elementor-widget-navigation-menu .sub-menu li a.hfe-sub-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown li a.hfe-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-19 .elementor-element.elementor-element-ae0f72e .menu-item a.hfe-menu-item {
    padding-left: 15px;
    padding-right: 15px;
}

.elementor-19 .elementor-element.elementor-element-ae0f72e .menu-item a.hfe-sub-menu-item {
    padding-left: calc( 15px + 20px);
    padding-right: 15px;
}

.elementor-19 .elementor-element.elementor-element-ae0f72e .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 40px);
    padding-right: 15px;
}

.elementor-19 .elementor-element.elementor-element-ae0f72e .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 60px);
    padding-right: 15px;
}

.elementor-19 .elementor-element.elementor-element-ae0f72e .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 80px);
    padding-right: 15px;
}

.elementor-19 .elementor-element.elementor-element-ae0f72e .menu-item a.hfe-menu-item,
.elementor-19 .elementor-element.elementor-element-ae0f72e .menu-item a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-19 .elementor-element.elementor-element-ae0f72e ul.sub-menu {
    width: 220px;
}

.elementor-19 .elementor-element.elementor-element-ae0f72e .sub-menu a.hfe-sub-menu-item,
.elementor-19 .elementor-element.elementor-element-ae0f72e nav.hfe-dropdown li a.hfe-menu-item,
.elementor-19 .elementor-element.elementor-element-ae0f72e nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-19 .elementor-element.elementor-element-ae0f72e nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-19 .elementor-element.elementor-element-ae0f72e nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-19 .elementor-element.elementor-element-ae0f72e .hfe-nav-menu__toggle {
    margin-left: auto;
}

.elementor-19 .elementor-element.elementor-element-ae0f72e a.hfe-menu-item,
.elementor-19 .elementor-element.elementor-element-ae0f72e a.hfe-sub-menu-item {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.elementor-19 .elementor-element.elementor-element-ae0f72e .menu-item a.hfe-menu-item,
.elementor-19 .elementor-element.elementor-element-ae0f72e .sub-menu a.hfe-sub-menu-item {
    color: var( --e-global-color-primary);
}

.elementor-19 .elementor-element.elementor-element-ae0f72e .sub-menu,
.elementor-19 .elementor-element.elementor-element-ae0f72e nav.hfe-dropdown,
.elementor-19 .elementor-element.elementor-element-ae0f72e nav.hfe-dropdown-expandible,
.elementor-19 .elementor-element.elementor-element-ae0f72e nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-19 .elementor-element.elementor-element-ae0f72e nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff;
}

.elementor-19 .elementor-element.elementor-element-ae0f72e .sub-menu li.menu-item:not(:last-child),
.elementor-19 .elementor-element.elementor-element-ae0f72e nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-19 .elementor-element.elementor-element-ae0f72e nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px;
}

.elementor-19 .elementor-element.elementor-element-ae0f72e div.hfe-nav-menu-icon {
    color: var( --e-global-color-60a9ff5);
}

.elementor-19 .elementor-element.elementor-element-ae0f72e div.hfe-nav-menu-icon svg {
    fill: var( --e-global-color-60a9ff5);
}

.elementor-19 .elementor-element.elementor-element-ae0f72e .hfe-nav-menu-icon {
    background-color: #008738;
    padding: 0.35em;
}

@media(max-width:1024px) {
    .elementor-19 .elementor-element.elementor-element-ae0f72e nav.hfe-nav-menu__layout-horizontal:not(.hfe-dropdown) ul.sub-menu,
    .elementor-19 .elementor-element.elementor-element-ae0f72e nav.hfe-nav-menu__layout-expandible.menu-is-active,
    .elementor-19 .elementor-element.elementor-element-ae0f72e nav.hfe-nav-menu__layout-vertical:not(.hfe-dropdown) ul.sub-menu {
        margin-top: 14px;
    }
    .elementor-19 .elementor-element.elementor-element-ae0f72e .hfe-dropdown.menu-is-active {
        margin-top: 14px;
    }
}

@media(min-width:768px) {
    .elementor-19 .elementor-element.elementor-element-738f7ad {
        width: 30%;
    }
    .elementor-19 .elementor-element.elementor-element-54f4eef {
        width: 70%;
    }
}

@media(max-width:767px) {
    .elementor-19 .elementor-element.elementor-element-738f7ad {
        width: 50%;
    }
    .elementor-19 .elementor-element.elementor-element-c10b4d6 img {
        max-width: 230px;
    }
    .elementor-19 .elementor-element.elementor-element-54f4eef {
        width: 50%;
    }
}